@font-face {
	font-family: 'Literal';
	src: url('literal/Literal-Regular.woff');
	src: local('Literal'), local('Literal'),
		url('literal/Literal-Regular.eot?#iefix') format('embedded-opentype'),
		url('literal/Literal-Regular.woff') format('woff'),
		url('literal/Literal-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Literal';
	src: url('literal/Literal-Light.woff');
	src: local('Literal'), local('Literal'),
	url('literal/Literal-Light.eot?#iefix') format('embedded-opentype'),
	url('literal/Literal-Light.woff') format('woff'),
	url('literal/Literal-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Literal';
	src: url('literal/Literal-Bold.woff');
	src: local('Literal'), local('Literal'),
	url('literal/Literal-Bold.eot?#iefix') format('embedded-opentype'),
	url('literal/Literal-Bold.woff') format('woff'),
	url('literal/Literal-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
