@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)


// ≥992px
+media-breakpoint-down(md)
  .title
    margin-bottom: 30px !important
    font-size: 18px
    line-height: 20px
    br
      display: none
  section, footer
    padding: 40px 0
  .users
    p
      text-align: center
      margin-bottom: 30px
    .step
      width: 100%
      display: flex
      align-items: center
      justify-content: start
      h3
        width: 20%
      p
        margin: 0
        text-align: left
        padding-left: 30px
      &:nth-child(even)
        padding: 0
  .author
    .row
      img
        width: 50%
        display: block
        margin: 20px auto 0
  .img-bg-9
    top: -20%
  .reasons
    .reason
      margin: 15px auto !important
  .feedback
    text-align: center
    padding: 40px 0
    .fa
      margin-bottom: 20px
    .my-cont
      position: relative
      width: 100%
    .fbk-content
      width: 100%
      border: 1px solid #e5e5e5
      padding: 25px
      -webkit-box-shadow: none
      -moz-box-shadow: none
      box-shadow: none
      img
        position: relative
        left: 0
        top: 0
        display: block
        margin: 20px auto 0
        width: 30%
        height: auto
        -webkit-transform: translate(0,0)
        -moz-transform: translate(0,0)
        -ms-transform: translate(0,0)
        -o-transform: translate(0,0)
        transform: translate(0,0)
    .swiper-container
      padding: 0
  .about
    padding: 40px 0
    p
      text-align: center
      font-size: 13px
    .row
      img
        -webkit-transform: translate(0,0) scale(1)
        -moz-transform: translate(0,0) scale(1)
        -ms-transform: translate(0,0) scale(1)
        -o-transform: translate(0,0) scale(1)
        transform: translate(0,0) scale(1)
        margin-bottom: 20px
    .img-bg-7
      width: 50%
  .learn
    .col-md-4
      &::after
        display: none
      p
        margin-bottom: 30px
        text-align: center
  .faq
    .nav-link
      background-color: transparent !important
      text-align: center
      padding: 10px 0
      span
        font-size: 12px
        border: 0
  footer
    .ph
      text-align: center
      line-height: 20px
    .btn
      margin: auto
  header
    text-align: center
    .btn-outline
      margin-left: 0
    img
      width: 50%
      display: block
      margin-right: auto
      margin-top: 20px
      margin-left: auto
    h1
      font-size: 32px !important
      margin-top: 50px
      line-height: 1.4
      margin-bottom: 40px
      br
        display: none

  .order
    padding: 25px 0 40px 0
    h2
      font-size: 16px
    p
      font-size: 13px
      text-align: center
    .big-text
      padding: 10px 0 0 10px
      margin-top: 15px
    .btn
      margin-top: 30px!important
  .services
    padding-bottom: 20px
    h2
      padding-top: 0
      margin-bottom: 10px
    h3
      span
        font-size: 22px
    &-order
      font-size: 13px
    .mobile-center
      text-align: center
  footer
    padding: 25px 0
    p
      font-size: 17px

// ≥768px
+media-breakpoint-down(sm)



// ≥576px
+media-breakpoint-down(xs)
  h1, h2, h3, h4, h5
    text-align: center


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
