@import "vars"
@import "libs"

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap&subset=cyrillic')

::placeholder
	color: #666

::selection
	color: #fff


html
	font-size: 10px
	overflow-x: hidden !important
	height: 100%
	scroll-behavior: smooth

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: 'Noto Sans', sans-serif
	overflow-x: hidden
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.container-phone
    background-color: $green-dark
    padding: 18px 0
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.06)
    p, i
        color: white
        font-weight: 700
    i
        font-size: 18px
    span
        font-family: 'Noto Sans', sans-serif
        font-weight: 700
        color: $yellow

nav
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.06)
    z-index: 1
    position: relative
    a
        color: #492B26
        padding: 20px 0
        font-weight: 700
        text-transform: uppercase
        letter-spacing: .26px
        border-top: 3px solid transparent
        &:hover
            text-decoration: none
        span
            padding: 20px
            display: block
        &:not(:last-child)
            span
                border-right: 1px solid #F2F2F2
        &.active
            border-color: $orange
            color: $orange

header
    background-color: #E5E5E5
    .container
        background-image: url("../img/header.bg.png")
        background-repeat: no-repeat
        background-position: bottom right
        background-size: 43%
        padding-top: 100px
    h1
        color: $brown-dark
        margin-bottom: 0
        font-weight: bold
        font-size: 30px
        text-transform: uppercase
        line-height: 150%
        letter-spacing: .26px
    .subtitle
        margin-bottom: 55px
        display: block
        color: $brown-dark
        font-size: 16px
        font-weight: bold
        letter-spacing: .26px
        span
            color: $yellow
            font-size: 30px
    .btn
        margin-bottom: 140px

h2
    font-size: 24px
    font-weight: bold
    margin: 0
    line-height: 150%
    letter-spacing: .26px

.btn
    color: #F2F2F2
    padding: 13px 29px
    line-height: 150%
    border-radius: 3px
    font-size: 16px
    text-transform: uppercase
    font-weight: bold
    &-green
        background: #259D6B
        box-shadow: 0px 10px 40px rgba(65, 183, 98, 0.6)
    &-yellow
        background: #E3B843
        box-shadow: 0px 10px 40px rgba(215, 215, 215, 0.6)

.section-workflow
    background-color: $green
    padding: 45px 80px
    color: #EEE6D1
    .step
        margin-left: 50px
        span
            font-weight: bold
            font-size: 30px
            margin-right: 12px
            line-height: 1
        p
            margin: 0
            letter-spacing: .26px
            font-size: 15px
            font-weight: bold
            line-height: 150%
            text-transform: uppercase
            margin-top: 10px
    h2
        width: 250px

.section-abonement
    background-color: #E5E5E5
    padding: 60px 0
    h2
        color: $brown-dark
        margin-bottom: 40px
    .content
        padding: 40px
        border-radius: 3px
        background-color: white
        .abonement
            border: 1px solid rgba(73, 43, 38, 0.13)
            box-sizing: border-box
            border-radius: 5px
            padding: 30px
            position: relative
            width: 100%
            cursor: pointer
            transition: .3s
            &:nth-child(2)
                margin: 0 40px
            h3
                color: $brown-dark
                line-height: 150%
                padding-bottom: 8px
                border-bottom: 2px solid #259D6B
                text-transform: uppercase
                font-size: 15px
                font-weight: bold
                display: inline-block
            strike
                //color: rgba(255, 255, 255, 0.39)
                display: block
                font-size: 24px
                line-height: 150%
                color: rgba(73, 43, 38, 0.39)
                font-weight: bold
            .price
                font-size: 18px
                color: $yellow
                text-shadow: 0px 4px 13px rgba(164, 75, 37, 0.2)
                span
                    font-size: 32px
                    font-weight: bold
            .inner
                padding: 36px 0 80px
            .check
                position: absolute
                bottom: 0
                right: 0
                &-dark
                    display: none
            &:hover
                background-color: $green
                h3
                    color: white
                strike
                    color: rgba(255, 255, 255, 0.39)
                .check-dark
                    display: block






//MAHA
footer
    background: #293233
    color: #F2F2F2
    text-transform: uppercase
    padding-top: 50px
    position: relative
    p
        font-size: 24px
        letter-spacing: 0.265846px
    span
        color: $yellow
        margin-right: 20px
    a
        display: inline-block
        border-radius: 28.5px
        font-size: 24px
        color: #2a2a2a
        .fa
            width: 46px
            height: 46px
            background: rgba(255, 255, 255, 0.15)
            border-radius: 10em
            line-height: 46px
            text-align: center
            color: #fff
            font-size: 22px
            margin-left: 15px
    .footer-bottom
        text-transform: none
        text-align: center
        color: rgba(242, 242, 242, 0.38)
        padding-bottom: 18px
        border-top: 1px solid rgba(242, 242, 242, 0.38)
        padding-top: 18px
        margin-top: 32px
        margin-bottom: 0
.services
    background: #363E39
    position: relative
    padding-bottom: 98px
    h2
        color: #EEE6D1
        text-transform: uppercase
        padding-top: 68px
        margin-bottom: 32px
        letter-spacing: 0.265846px
    h3
        color: $yellow
        letter-spacing: 0.265846px
        span
            text-transform: uppercase
            font-size: 38px
    &-order
        background: rgba(238, 230, 209, 0.45)
        border-radius: 3px
        padding: 10px 0
        img
            margin: 0 15px
        span
            color: #EEE6D1
    .checkmark
        span
            color: #EEE6D1
            text-transform: uppercase
            margin-left: 25px
            letter-spacing: 0.265846px
    &-bg
        position: absolute
        bottom: -35%
        right: 0
.order
    padding: 60px 0 50px 0
    letter-spacing: 0.265846px
    h2
        color: $orange
        text-transform: uppercase
    p
        color: $brown-dark
        margin: 5px 0 24px 0
        font-weight: bold
    .bg-gray
        background: #E0E0E0
    .big-text, input, select
        color:  rgba(73, 43, 38, 0.44)
        font-size: 14px
    input
        border-radius: 3px
        padding: 13px
        border: none
    .big-text
        border: 1px solid #E0E0E0
        padding: 18px 0 0 18px
    select
        height: 45px!important

@import "media" // Always at the end
